#boardWrite h2 {
    margin-top: 80px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}

.boardWrite_Wrap {
    width: 100%;
}

.boardWrite_Wrap select {
    height: 60px;
    width: 300px;
    background: #fff;
    color: #666;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    padding: 16px 30px 14px 30px;
    margin-bottom: 30px;
}

.boardWrite_Wrap form {
    width: 100%;
}

.boardWrite_Wrap form fieldset {
    width: 100%;
}

.boardWrite_Wrap select:first-child {
    margin-right: 20px;
}

.boardWrite_Wrap label {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

.boardWrite_Wrap input {
    background: #fff;
    border-radius: 10px;
    height: 80px;
    margin-bottom: 30px;
}

.boardWrite_Wrap #inquiryEmail {
    width: 50%;
}

.boardWrite_Wrap .boardModifyPW,
.boardWrite_Wrap .QnAModifyPW {
    width: 300px;
    height: 60px;
    background: #fff;
    color: #666;
    transform: translateY(-2px);
}

.boardModifyPW:focus {
    transform: translateY(-2px);
}

.boardWrite_Wrap textarea {
    background: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 20px;
    resize: none;
    width: 100%;
    min-height: 450px;
    margin-bottom: 30px;
    font-size: 24px;
}

.boardWrite_Wrap .boardWriteTag,
.boardWrite_Wrap .boardModifyTag {
    height: 60px;
    /* width: 640px; */
    width: 700px;
}

.TagWrap {
    display: inline-block;
    margin-right: 20px;
}

.Writebtn {
    display: inline-block;
    float: right;
}

.Writebtn .btn1,
.Writebtn .btn2 {
    width: 150px;
    height: 60px;
}

.Writebtn .btn2 {
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
}

.Writebtn .btn1:hover,
.Writebtn .btn2:hover {
    transition: all 0.3s ease;
    background: #fff;
    color: #414ca9;
    box-shadow: inset 0px 0px 2px #414ca9;
}

.boardWrite_Wrap .inquiryInput {
    height: auto;
}

@media (max-width: 770px) {
    .TagWrap {
        display: block;
        margin-right: 0px;
    }

    .boardWrite_Wrap select {
        width: 100%;
    }

    .boardWrite_Wrap .boardWriteTag,
    .boardWrite_Wrap .boardModifyTag {
        width: 100%;
        display: block;
    }

    .Writebtn {
        /* display: block; */
        display: flex;
        align-items: center;
        float: none;
        justify-content: space-between;
    }

    .Writebtn .btn1,
    .Writebtn .btn2 {
        /* width: 50%; */
        height: 50px;
        display: inline-block;
    }

    .Writebtn .btn1 {
        width: 60%;
    }

    .Writebtn .btn2 {
        line-height: 55px;
        width: 40%;
    }
}

@media (max-width: 468px) {
    .boardWrite_Wrap select {
        width: 100%;
    }

    .boardWrite_Wrap .boardModifyPW,
    .boardWrite_Wrap .QnAModifyPW {
        width: 100%;
    }
}

.CateImgWrap {
    position: relative;
    height: 70px;
    display: flex;
}

.CateImgWrap .CateImgPrev {
    position: absolute;
    bottom: 54%;
    left: 60px;
    color: #414ca9;
}

.CateImgWrap .CateImgPrev:hover .CateImg {
    display: block;
}

.CateImgWrap .CateImg {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    bottom: 0;
    right: -30vw;
    display: none;
}

.CateImgWrap label {
    position: absolute;
    background: #f5f5f5;
    border: 1px solid #414ca9;
    padding: 5px 12px 0px 12px;
    border-radius: 50%;
    cursor: pointer;
    color: #414ca9;
    top: 0;
}

.CateImgWrap #youImg {
    display: none;
}