.AuthEmail .btn3 {
    display: inline-block;
    text-align: center;
    padding: 12px 24px 11px;
    font-size: 18px;
    margin: 21px 0;
    border-radius: 8px;
}
.AuthEmail .btn3:hover {
    background-color: #414ca9;
    color: #fff;
}
.AuthEmail input#EmailCheckNumber {
    width: 50%;
    margin-right: 13px;
}
.AuthEmail .timeLimit {
    display: inline;
    text-align: bottom;
}
.AuthEmail .userCheckNum {
    display: inline;
    margin-left: 10px;
}
.AuthEmail input::-webkit-outer-spin-button,
.AuthEmail input::-webkit-inner-spin-button {
    appearance: none;
    
}
.AuthEmail .otherAuthBtnP {
    width: 100%;
    margin-top: 5px !important;
    padding: 17px 24px 16px !important;
}