.SearchIDPhone.login__inner form fieldset div:nth-child(3) {
    margin-bottom: 60px;
}

.SearchIDPhone.login__inner .login__find {
    display: flex;
    justify-content: space-between;
    height: 55px;
    margin-top: 20px;
    text-align: center;
}

.SearchIDPhone.login__inner .login__find .emailFind {
    width: 48%;
    margin-right: 4%;
    padding: 16px 15px;
    font-size: 21px;
}

.SearchIDPhone.login__inner .login__find .pwFind {
    width: 48%;
    padding: 18px 15px 20px 15px;
}